/* Your styles go here */
body{
    background-color: #b782a7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    background-color: #9a6292;
    padding: 20px;
    border-radius: 20px;
    margin: 20px;
    color: #f2c6d2;

}
p{
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding: 10px;
    background-color: #9a6292;
    border-radius: 10px;
    color: #f2c6d2;
}
footer{
    text-align: center;
    font-size: 25px;
    padding: 10px;
    background-color:#9a6292;
    color: #f2c6d2;
}
nav{
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    background-color:#9a6292;               
    padding: 10px;
    border-radius: 10px;
    color: #f2c6d2;
    font-size: 20px;

}
figcaption{
    text-align: center;
    font-size: 18px;
    margin: 10px;
    padding: 5px;
    background-color: #9a6292;
    border-radius: 5px;
    color: #f2c6d2;
}
h5{
    text-align: center;
    font-size: 18px;
    padding: 5px;
    background-color: #9a6292;
    border-radius: 5px;
    color: #f2c6d2;
    font-weight: lighter;
} img{
    width: 2000px;
}
nav a{
    color: #f2c6d2;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    color: #f2c6d2;
}
a{
    color: #f2c6d2;
    text-decoration: none;
}
a:hover{
    color:#d9b2bc;
    text-decoration: underline;
}
nav a:hover{
    color: #d9b2bc;
    text-decoration: underline;
}
@media screen and (max-width: 480px) {
  body {
    font-size: 14px;
  }

  nav {
    font-size: 16px;
  }

  .image-wrapper img {
    max-width: 100%;
  }

  /* You can hide non-essential stuff */
  footer {
    display: none;
  }
}